@import "../../../global.styles.scss";

.input__label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: $text-dark;
  font-weight: 700;
  font-size: 14px;

  input {
    border-color: $border-light;
    background: $background-dark;
    padding: 16px;
    border-radius: 6px;
    color: $text-dark;
  }
}
