@import "../../../global.styles.scss";

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $background-light;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}
