@import "../../../global.styles.scss";

.button__main {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $primary-color;
  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
